<footer>

    <div class="footer_ul">

        <img class="certified" src="/Certified_B_svg.png" alt="certified_b_corporation">

        <ul class="ul_footer">
            <li class="first-color">SOCIAL</li>
            <li>Facebook</li>
            <li>Instagram</li>
            <li>YouTube</li>
        </ul>

        <ul class="ul_footer">
            <li class="first-color">MENU</li>
            <li>Voor Mini</li>
            <li>Vini Mini Producten</li>
            <li>Over ons</li>
            <li>Nieuws</li>
            <li>Contact</li>
            <li>Zoeken</li>
        </ul>

        <ul class="ul_footer">
            <li class="first-color">INFO & HELP</li>
            <li>Algemene voorwaarden</li>
            <li>Privacy voorwaarden</li>
            <li>Veelgestelde vragen</li>
        </ul>

    </div>

    <p class="copyright">© 2023. Alle rechten voorbehouden. Vinimini.</p>

</footer>

</body>

</html>