* {
  box-sizing: border-box;
  margin: 0;
  font-family: montserrat, sans-serif, Helvetica;
}

/* -----CUSTOM PROPERTIES----- */

:root {
  --yellow: #f4eb34;
  --Aqua-green: #73aea6;
  --Black: #000000;
  --Grey: #fafafa;
  --Lightblue: #daeeee;
}

/* -----BANNER----- */

.banner {
  background-color: var(--yellow);
  padding: 1em;
}

.verzending_banner {
  text-align: center;
}

/* -----LOGO----- */

.vinimini-logo {
  width: 180px;
  margin-top: 1em;
  margin-left: 6em;
  position: absolute;
}

/* -----NAVIGATION STYLING----- */

nav {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 4em;
  font-family: montserrat, sans-serif;
  margin-top: 60px;
  margin-left: 26em;
  font-style: var(--Black);
  z-index: 1;
}

/* -----SPAN LOGIN STYLING----- */

span {
  font-family: montserrat, sans-serif;
  font-style: var(--Black);
  font-size: 1.1em;
}

/* -----ICON STYLING----- */

.icon {
  padding-right: 21em;
  margin-top: 3.5em;
}

/* -----HEADER STYLING----- */

h1 {
  color: var(--Aqua-green);
  font-size: 3em;
  text-align: center;
  margin-bottom: 2em;
  margin-top: -3.5em;
}

h2 {
  margin-top: 1.5rem;
  color: var(--Black);
  font-size: 2em;
  text-align: center;
}

/* -----MAIN STYLING NOTITIE----- */

.groen-kader {
  width: 30em;
  height: 30em;
  margin-left: 12rem;
  border: 6px solid var(--Aqua-green);
  overflow-y: scroll;
}

.vierkant {
  height: 50px;
  width: 470px;
  background-color: var(--Aqua-green);
}

.notities {
  margin-top: -1.9em;
  margin-left: 2.5em;
  font-size: 24px;
  color: white;
}

.iconcross {
  margin-left: 1.7em;
  margin-top: -1.6em;
  position: absolute;
}

.notitie-container {
  margin: 1em;
  background: var(--Lightblue);
  padding: 2em;
}

.colorbackground {
  opacity: 0.5;
  background-color: var(--Blauw);
  width: 32%;
  height: 32%;
  z-index: -1;
}

.tekstproducten {
  justify-content: center;
  display: flex;
}

/* -----FORMULIER----- */

.container {
  margin-bottom: 1rem;
}

body.js-enabled form {
  padding: 1em;
  margin-left: 15rem;
  width: 16em;
  text-align: center;
  visibility: hidden;
}

body.js-enabled .form-visibility {
  visibility: visible;
}

fieldset {
  background: var(--yellow);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 50em;
  margin-right: 70em;
  margin-top: -24.1em;
}

.kruis {
  display: none;
}

body.js-enabled .kruis {
  display: block;
}

input {
  width: 13em;
  margin: 1em;
}

.title {
  margin-top: 1rem;
}

.herinnering {
  margin-top: 1rem;
}

.opslaan-form {
  background-color: var(--Aqua-green);
  width: 7.5em;
  padding: 1em;
  border-radius: 7em;
  border: none;
  margin-left: 3.5em;
  margin-top: 0.5em;
}

/* -----IMAGE----- */

.productenimg {
    width: 34%;
    margin-left: 70em;
    top: 25rem;
    position: absolute;
}


/* -----MEDIA QUERY----- */

@media screen and (max-width: 50em) {
  /* -----BANNER----- */

  .aankoop_banner {
    background-color: var(--yellow);
    margin: -5em;
    position: relative;
  }

  .verzending_banner {
    margin-left: 5rem;
    margin-right: 1em;
    line-height: 1.5em;
    margin-top: 5em;
    font-size: 15px;
  }

  /* MENU */

  ul,
  .icon {
    display: none;
  }

  .viniminilogo {
    width: 100px;
    margin-top: 6em;
    margin-left: 1em;
    position: absolute;
  }
}

/* -----FOOTER STYLING----- */

footer {
  width: 100vw;
  margin-top: 2em;
  background-color: var(--Grey);
}

.ul_footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  font-size: 13px;
  margin: 0.5em;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.footer_ul {
  display: flex;
  margin: 2em;
  justify-content: center;
}

.first-color {
  color: var(--Aqua-green);
  font-size: 15px;
  font-weight: 900;
}

.certified {
  margin-top: 2.6rem;
  width: 80px;
  height: 110px;
}

.copyright {
  margin-top: -2em;
  margin-left: 85em;
  font-size: 13px;
}
